.footer{
    backdrop-filter: blur(40px);
        background: rgba(239, 247, 255, 0.4);
}
.footer-container{
    padding: 32px;
}
.footer-navigation{
    display: flex;
    justify-content: center;
    gap: 12px;
    text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #172a54;
        margin-bottom: 8px;
}
.footer-text{
    color: #172a54;
    text-align: center;
}
@media only screen and (min-width: 1439px) {
 .footer-container {
padding: 24px 32px;
}    
.footer-navigation {
 margin-bottom: 16px;
 font-size: 18px;
}    
 .footer-text {
     font-size: 18px;
  }   
}