/* Hero */
.hero-section{
    background-color:rgba(23, 42, 84, 0.3);
    background-image: url("/img/hero/hero-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size:cover;
    height: 709px;
}
.hero-container{
    position: relative;
}
.hero-title{
    margin-top: 60px;
    font-family: "Kumbh Sans", sans-serif;
        font-weight: 600;
        font-size: 32px;
        line-height: 1.5;
        color: #fff;
        margin-bottom: 40px;
}
.hero-img{
    margin-left: auto;
    margin-right: auto;
}
.girl-img{
    position: absolute;
    bottom: -94px;
    right: 0;
}
@media only screen and (min-width: 1439px) {
.hero-section {
background-image: url("/img/hero/hero-desk.png");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
height: 969px;
 } 
.hero-container {
    position: relative;
    display: flex;
   
}
.hero-title {
margin-top: 150px;
font-size: 56px;
margin-bottom: 0;
width: 636px;
margin-left: 12px;
}
.hero-img {
    margin-top: 150px;
    margin-left: 156px;
}
.girl-img {
position: absolute;
bottom: -248px;
right: 0;
}
}
/* Benefits */
.benefits-section{
    background-image: url("/img/benefits/fish-mob.png");
    background-repeat: no-repeat;
    background-position: top 84px left -10px;
    background-size: 185px 82px;
}
.benefits-title{
    margin-bottom: 40px;
}
.benefits-swiper-slide{
    background: rgba(253, 228, 255, 0.2);
    border-radius: 16px;
        padding: 16px;
        min-height: 130px;
        transition: border 0.3s ease, background-color 0.3s ease;
}
.benefits-swiper-slide:hover {
    border: 1px solid #bc02c9;
    background-color: rgba(253, 228, 255, 0.3);
}
.swiper-benefits-title{
    font-size: 18px;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}
.benefits-swiper-slide:hover .swiper-benefits-title{
    color: #fde4ff;
}
.custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    width: 100%;
    height: 32px;
}

.pagination-item {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    background: #5b5ad7;
    transition: background-color 0.3s ease-in-out;
}

.pagination-item.active {
    border-radius: 100%;
    background-color: #b95fee;
 }
 .desk{
    display: none;
 }
 @media only screen and (min-width: 1439px){
.benefits-section {
 background-image: url("/img/benefits/fish-desk.png");
background-repeat: no-repeat;
background-position: top 60px left;
background-size: 384px 170px;
}
.benefits-title {
margin-bottom: 56px;
}
.custom-pagination{
    display: none;
}
.benefits-swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.benefits-swiper-slide {
    padding:24px 20px;
        max-width: 300px;
        min-height: 228px;
}

.swiper-benefits-title {
    font-size: 24px;
    margin-bottom: 12px;
    height: 72px;
}
.desk{
    display: block;
}
.swiper-benefits-text{
    font-size: 16px;
}
 }
 /* Game Description */
 .game-section{
    background-image: url("/img/game/fish-mob-right.png");
    background-repeat: no-repeat;
        background-position: top 40px right -10px;
        background-size: 241px 108px;
 }
 .game-title{
    margin-bottom: 40px;
 }
 .game-img{
    margin-bottom: 16px;
 }
 .game-span{
    font-weight: 600;
        color: #fff943;
 }
 @media only screen and (min-width: 1439px) {
    .game-section{
        background-image: none;
    } 
    .game-title{
        margin-bottom: 56px;
    }
    .game-wrapper{
        display: flex;
        gap: 24px;
    }
    .game-picture{
        order: 2;
    }
    .game-text{
        font-size: 24px;
        width: 636px;
    }
 }
 /* Extra Blocks */
 .extra-title{
    margin-bottom: 40px;
 }
.extra-swiper-slide{
    background: rgba(23, 42, 84, 0.4);
    border-radius: 16px;
        padding: 16px;
        min-height: 160px;
        transition: background-color 0.3s ease;
}
.extra-swiper-slide:hover{
    background-color: rgba(23, 42, 84, 0.5);
}
.extra-wrapper{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 12px;
}
.swiper-extra-title{
    font-weight: 500;
        font-size: 18px;
transition: color 0.3s ease;
}
.extra-swiper-slide:hover .swiper-extra-title {
    color: #fdffc2;
}
 .extra-custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    width: 100%;
    height: 32px;
}
.extra-pagination-item {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    background: #5b5ad7;
    transition: background-color 0.3s ease-in-out;
}
.extra-pagination-item.active {
    border-radius: 100%;
    background-color: #b95fee;
 }
 @media only screen and (min-width: 1439px) {
    .extra-title{
        margin-bottom: 56px;
    } 
.extra-swiper-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
}
.extra-swiper-slide{
    max-width: 416px;
        min-height: 204px;
}
.extra-custom-pagination{
    display: none;
}
.swiper-extra-title {
    font-size: 24px;
}
.swiper-extra-text{
    font-size: 18px;
}
 }
 /* Gallery */
 .gallery-section{
    background-image: url("/img/gallery/fish-mob.png");
    background-repeat: no-repeat;
        background-position: top  left;
        background-size: 205px 113px;
 }
 .gallery-title{
    margin-bottom: 40px;
 }
.gallery-img{
    max-height: 610px;
}
.img-one-gallery{
    min-height: 610px;
}
 .gallery-custom-pagination {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 16px;
     margin-top: 20px;
     width: 100%;
     height: 32px;
 }

 .gallery-pagination-item {
     border-radius: 100%;
     width: 32px;
     height: 32px;
     background: #5b5ad7;
     transition: background-color 0.3s ease-in-out;
 }

 .gallery-pagination-item.active {
     border-radius: 100%;
     background-color: #b95fee;
 }
 @media only screen and (min-width: 1439px) {
.gallery-section {
 background-image: url("/img/gallery/fish-desk.png");
 background-repeat: no-repeat;
background-position: top 80px left;
 background-size: 205px 120px;
}    
.gallery-title {
margin-bottom: 56px; 
 } 
 .gallery-custom-pagination{
    display: none;
 }
 .pag_container {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     height: 12px;
     background-color: rgba(255, 249, 67, 0.2);
     border-radius: 4px;
     position: relative;
     overflow: hidden;
     margin-top: 40px;
 }

 .pag_bar {
     width: 100px;
     height: 100%;
     background-color: #ffeb10;
     border-radius: 2px;
     position: absolute;
     top: 0;
     left: 0;
     transition: left 0.3s ease-in-out; }
 }
 /* Key Features */
 .key-section{
    background-image: url("/img/key/key-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 356px;
 }
 .key-title{
    margin-bottom: 40px;
 }
 .key-swiper-slide{
    border-radius: 16px;
        padding: 16px;
        height: 80px;
        backdrop-filter: blur(10px);
            background: rgba(31, 76, 174, 0.7);
    transition: border 0.3s ease, background-color 0.3s ease;
 }
 .key-swiper-slide:hover{
    border: 1px solid #f4d603;
    background-color: rgba(31, 76, 174, 0.8);
 }
  .key-text{
    font-size: 16px;
    text-align: center;
 }
 .key-custom-pagination {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 16px;
     margin-top: 32px;
     width: 100%;
     height: 32px;
 }
  .key-pagination-item {
     border-radius: 100%;
     width: 32px;
     height: 32px;
     background: #5b5ad7;
     transition: background-color 0.3s ease-in-out;
 }

 .key-pagination-item.active {
     border-radius: 100%;
     background-color: #b95fee;
 }
 @media only screen and (min-width: 1439px) {
.key-section {
background-image: url("/img/key/key-desk.png");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
height: 597px;
 }    
 .key-title {
 margin-bottom: 56px;
}    
.key-custom-pagination {
display: none;
} 
.key-swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}
.key-swiper-slide {
 padding: 20px;
 max-width: 306px;;
min-height: 156px;
}
.key-text{
    font-size: 24px;  
}
 }
 /* Main Characters */
 .characters-title{
    margin-bottom: 40px;
 }
 .characters-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
 }
 .characters-item{
    border-radius: 16px;
        padding: 16px;
        width: 343px;
        height: 113px;
        background: rgba(253, 255, 194, 0.3);  
transition: border 0.3s ease, background-color 0.3s ease;
 }
 .characters-item:hover{
    border: 1px solid #f4d603;
    background-color: rgba(253, 255, 194, 0.4);
 }
 .characters-author{
    font-weight: 600;
        font-size: 18px;
        color: #f4d603;
        margin-bottom: 12px;
 }
 .item-one{
    background-image: url("/img/characters/item-one.png");
    background-repeat: no-repeat;
    background-position: top 5px right 30px;
    background-size: 73px 102px;
 }
 .item-two {
     background-image: url("/img/characters/item-two.png");
     background-repeat: no-repeat;
     background-position: top 5px right 30px;
    background-size: 102px 102px;
 }
 .item-three {
     background-image: url("/img/characters/item-three.png");
     background-repeat: no-repeat;
     background-position: top 5px right 30px;
    background-size: 102px 102px;
 }
 @media only screen and (min-width: 1439px) {
.characters-title {
margin-bottom: 56px;
}    
.characters-list {
 display: flex;
flex-direction: row;
gap: 24px;
  }  
  .characters-item {
    border-radius: 24px;
        padding: 24px;
        width: 416px;
        height: 148px;
  }
  .characters-author {
      font-size: 24px;
  }
  .characters-text{
    font-size: 16px;
  }
  .item-one {
      background-image: url("/img/characters/item-one.png");
      background-repeat: no-repeat;
      background-position: top 17px right 30px;
      background-size: 79px 111px;
  }

  .item-two {
      background-image: url("/img/characters/item-two.png");
      background-repeat: no-repeat;
    background-position: top 17px right 30px;
      background-size: 111px 111px;
  }

  .item-three {
      background-image: url("/img/characters/item-three.png");
      background-repeat: no-repeat;
    background-position: top 17px right 30px;
      background-size: 111px 111px;
  }
 }
 /* Reviews */
 .reviews-title{
    margin-bottom: 40px;
 }
 .reviews-swiper-slide{
    border-radius: 16px;
        padding: 16px;
        min-height: 163px;
        background: #143e95;
 }
 .reviews-author{
    font-weight: 600;
        font-size: 18px;
        color: #bfe0fe;
        margin-bottom: 8px;
 }
 .reviews-text{
    font-size: 16px;
 }
 .reviews-custom-pagination {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 16px;
     margin-top: 32px;
     width: 100%;
     height: 32px;
 }

 .reviews-pagination-item {
     border-radius: 100%;
     width: 32px;
     height: 32px;
     background: #5b5ad7;
     transition: background-color 0.3s ease-in-out;
 }

 .reviews-pagination-item.active {
     border-radius: 100%;
     background-color: #b95fee;
 }
 @media only screen and (min-width: 1439px) {
    .reviews-custom-pagination {
        display: none;
    }
    .reviews-title{
        margin-bottom: 56px;
    }
.reviews-pag_container {
 width: 100%;
margin-left: auto;
 margin-right: auto;
  height: 12px;
background-color: rgba(255, 249, 67, 0.2);
border-radius: 4px;
position: relative;
 overflow: hidden;
margin-top: 40px;
}    
.reviews-pag_bar {
 width: 100px;
height: 100%;
background-color: #ffeb10;
border-radius: 2px;
position: absolute;
top: 0;
left: 0;
transition: left 0.3s ease-in-out;
}
.reviews-swiper-slide{
    border-radius: 24px;
        padding: 24px;
       min-height: 208px;
}
.reviews-author{
    font-size: 24px;
    margin-bottom: 16px;
}
.reviews-text{
    font-size: 24px;
}
 }
 
